PORT=4000
MONGO_URI=mongodb://127.0.0.1:27017/chatbot

# Get your API key from your provider (e.g., Hugging Face)
AI_API_KEY=PASTE_YOUR_NEW_TOKEN_HERE

AI_API_URL=https://router.huggingface.co/v1/chat/completions
AI_MODEL=Qwen/Qwen2.5-7B-Instruct

CLIENT_URL=http://localhost:3000